<ul id="post-list" class="archive readmore">
    
    {{ $kind := where .Site.RegularPages "Section" "!=" "" }}
    {{ $othr := where $kind "URL" "!=" .RelPermalink }}

    {{ if gt (len $othr) 0 }}
        <h3>{{ .Site.Params.readMore | default "Read more" }}</h3>

        {{ range first 10 $othr }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}<aside class="dates">{{ .Date.Format "Jan 2 2006" }}</aside></a>
            </li>
        {{ end }}
    {{ end }}
</ul>
