/*=========================================
Post List
=========================================== */
#archive-list {
  margin-top: 100px;
}

#post-list {
  margin-bottom: 0;
}

#post-list li,
#archive-list li {
  border-top: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  margin-bottom: 0;
}

#post-list li:last-child {
  border-bottom: 1px solid #eee;
}

#post-list a {
  color: #333;
  display: block;
  font: bold 19px/1.7 "Nunito", sans-serif;
}

#post-list .dates {
  float: right;
  position: relative;
  top: 1px;
  font: 300 17px/1.8 "Nunito", sans-serif;
  color: #bbb;
}

#post-list-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 100px;
}

#archive-link {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding: 3px 10px 6px;
  box-shadow: 0 0 0 1px hsla(207, 83%, 80%, 1);
}

#archive-link:hover {
  background: #5694f1;
  color: #fff;
  box-shadow: 0 0 0 1px #5694f1;
}

#archive-link span {
  position: relative;
  top: 0;
  font-size: 17px;
}

#footer {
  padding: 40px 0 0 0;
}
